<hr>
  <p class='normal'>
    <input type='submit' value='Charakter anzeigen/verbergen' onClick='showHideCharacter();' />
  </p>
  <form id='CharacterInfo' style='display: none;'>
      <h3>{{rolename}}</h3>
      <p class='normal'>{{roledescription}}</p>
  </form>
  <hr>
    <br></br>
  </hr>
</hr>

<!-- 
    vim:ft=html :
-->
