<h3>Sie sind leider bereits gestorben ...</h3>
<p class='normal'>Verhalten Sie sich ruhig und stören Sie nicht das Spiel der anderen. Verraten Sie keine Informationen, damit die anderen Spieler ihr Spielerlebnis genießen können.</p>
<form name='list'>
  <div id='listdiv'></div>
</form>
<form name='gameLogForm' id='gameLogForm' style='display:none'>
  <div id='gamelogdiv'></div>
</form>
<input type='submit' value='spiellog anzeigen' onClick='showGameLog($spielID);' />
<!--
    vim:ft=html:
-->
